{% extends 'base.html' %}

{%block title%}
login
{% endblock %}

{% block content %}

{% load static %}

<body style="background-color:#799351;">
  

  <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data" style="background-color: rgb(255, 255, 255);height: 350px; width: 500px;margin-left: 390px;margin-top: 50px;border-radius: 10px;opacity: 0.5;">
    {% csrf_token %}
    <h1 style="margin-left: 170px;color:rgb(255, 255, 255);">---</h1>
    <h1 style="margin-left: 179px;margin-bottom: 30px;color: black;background-color:rgb(255, 255, 255) ;">Sign In</h1>
    <!-- name -->
    <div style="width: 250px; margin-left: 120px;margin-bottom: 20px;" class="input-group mb-3">
      <!-- <span class="input-group-text" id="basic-addon1">Name</span> -->
      <input type="email" id="btn1" name="email" class="form-control"  placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" >
    </div>
  <!-- name -->

  <!-- password -->
  <!-- <label for="inputPassword5" class="form-label">Password</label> -->
  <div style="width: 250px; margin-left: 120px;">
    <input type="password" id="inputPassword5" name="password" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Password">
  </div>
 <br>

  <!-- password -->
  <button type="submit" class="btn-1">Sign In</button>

  
  </form>
    
</body> 
      

{% endblock %}