{% extends 'base.html' %}

{%block title%}
My Orders
{%endblock%}

{% block content %}

{% load static %}

<div class="card mb-3" style="max-width: 1050px;margin-left: 100px;margin-top: 30px;">
    {% for myorder in result %}
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ myorder.product.image.url }}" class="img-fluid rounded-start" alt="..." style="margin-bottom: 20px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ myorder.product.product_name }}</h5>
          <p class="card-text">{{ myorder.product.description }}</p>
          <p class="card-text">{{ myorder.product.price }}</p>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}