{% extends 'base.html' %}

{%block title%}
teacher_registration
{% endblock %}

{% block content %}

{% load static %}

<body style="background-color:#799351;">
  

  <form action="tchrupdateext/{{res.id}}" method="POST" enctype="multipart/form-data" style="background-color: rgb(97, 119, 64);height: 725px; width: 500px;margin-left: 390px;margin-top: 50px;border-radius: 10px;">
    {% csrf_token %}
    <h1 style="margin-left: 170px;color:rgb(97, 119, 64);">---</h1>
    <h1 style="margin-left: 170px;margin-bottom: 30px;color: white;background-color:rgb(97, 119, 64) ;">Sign Up</h1>
    <!-- name -->
    <div style="width: 250px; margin-left: 120px;margin-bottom: 20px;" class="input-group mb-3">
      <!-- <span class="input-group-text" id="basic-addon1">Name</span> -->
      <input type="text" id="btn1" name="name" value="{{res.name}}" class="form-control"  placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" >
    </div>
  <!-- name -->
    <br>
  <!-- Department -->
  <select style="width: 250px; height: 50px;margin-bottom: 15px; border-radius: 8px; margin-left: 120px;" name="department" value="{{res.department}}" class="form-select" aria-label="Default select example">
      <option selected>Department</option>
      <option value="Computer Science">Computer Science</option>
      <option value="Physics">Physics</option>
      <option value="Chemistry">Chemistry</option>
      <option value="Commerce">Commerce</option>
  </select>
   <!-- Department -->
<br>
  <!-- phone number -->
    <div style="width: 250px; margin-left: 120px;"  class="input-group mb-3">
      <!-- <span class="input-group-text" id="basic-addon1">Phone number</span> -->
      <input type="text" class="form-control" name="phone" value="{{res.phone}}" placeholder="Phone Number"  aria-label="Username" aria-describedby="basic-addon1">
    </div>

  <!-- phone number -->
    <br>
  <!-- email -->
  <div style="width: 250px; margin-left: 120px;" class="mb-3">
      <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label>  -->
      <input type="email" class="form-control" name="email" value="{{res.email}}" id="exampleFormControlInput1" placeholder="E-mail">
    </div>
  <!-- email -->
    <br>
  <!-- password -->
  <!-- <label for="inputPassword5" class="form-label">Password</label> -->
  <div style="width: 250px; margin-left: 120px;">
    <input type="password" id="inputPassword5" name="password" value="{{res.password}}" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Password">
  </div>
<br>

  <!-- password -->
  <br>
  <!-- image -->
  <div style="width: 250px; margin-left: 120px;" class="input-group mb-3">
    <!-- <span class="input-group-text" id="basic-addon1">Image</span> -->
    <input type="file" class="form-control" name="image" placeholder="Image" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <!-- image -->
  <button type="submit"  class="btn-1">Update</button>
<br>
  </form>
    
</body> 
      

{% endblock %}