{% extends 'base.html' %}

{% block title %}
Reply list
{% endblock %}

{% block content %}

{% load static %}
<!-- Section: Design !-->
<div class="container">
    <h1 style="margin-left: 420px;">Reply List</h1>
    <br><br><br>
</div>

<table class="table">
    <thead>
        <th scope="'col">Teacher Name</th>
        <!-- <th scope="'col">Description</th> -->
        <th scope="'col">Reply</th>
    </thead>
    <tbody>
        {% for p in result %}
        <tr>
            <td>{{p.t_name.t_name}}</td>
            <!-- <td>{{p.description}}</td> -->
            <td>{{p.message}}</td>

            

                 
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
    